{
    "openapi": "3.0.0",
    "info": {
        "title": "Microservicio Peñarrieta API",
        "description": "API documentation for Microservicio Peñarrieta",
        "contact": {
            "email": "admin@admin.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/api/internal-notes/{ticket}": {
            "get": {
                "tags": [
                    "Internal Notes"
                ],
                "summary": "Get list of internal notes for a ticket",
                "description": "Returns list of internal notes",
                "operationId": "getInternalNotes",
                "parameters": [
                    {
                        "name": "ticket",
                        "in": "path",
                        "description": "Ticket Code",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "Filter by author ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "only_important",
                        "in": "query",
                        "description": "Filter only important notes",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "with_attachments",
                        "in": "query",
                        "description": "Filter notes with attachments",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/InternalNote"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/macros": {
            "get": {
                "tags": [
                    "Macros"
                ],
                "summary": "Get list of macros",
                "description": "Returns list of macros filtered by criteria",
                "operationId": "getMacros",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author",
                        "in": "query",
                        "description": "Filter by author ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "favorites",
                        "in": "query",
                        "description": "Filter only favorites",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Macro"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/internal-notes": {
            "post": {
                "tags": [
                    "Internal Notes"
                ],
                "summary": "Store new internal note",
                "description": "Creates a new internal note",
                "operationId": "storeInternalNote",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "ticket_code",
                                    "content"
                                ],
                                "properties": {
                                    "ticket_code": {
                                        "type": "string",
                                        "example": "T-12345"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Note content"
                                    },
                                    "is_important": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/InternalNote"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/internal-notes/{internalNote}": {
            "put": {
                "tags": [
                    "Internal Notes"
                ],
                "summary": "Update internal note",
                "description": "Updates an existing internal note",
                "operationId": "updateInternalNote",
                "parameters": [
                    {
                        "name": "internalNote",
                        "in": "path",
                        "description": "Internal Note ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content"
                                ],
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Updated content"
                                    },
                                    "is_important": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "attachments": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/InternalNote"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Internal Notes"
                ],
                "summary": "Delete internal note",
                "description": "Deletes an internal note",
                "operationId": "deleteInternalNote",
                "parameters": [
                    {
                        "name": "internalNote",
                        "in": "path",
                        "description": "Internal Note ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/macros": {
            "post": {
                "tags": [
                    "Macros"
                ],
                "summary": "Store new macro",
                "description": "Creates a new macro",
                "operationId": "storeMacro",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "content",
                                    "scope"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Macro Name"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Macro Content"
                                    },
                                    "scope": {
                                        "type": "string",
                                        "enum": [
                                            "personal",
                                            "global"
                                        ],
                                        "example": "personal"
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "General"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Macro"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/macros/{macro}": {
            "put": {
                "tags": [
                    "Macros"
                ],
                "summary": "Update macro",
                "description": "Updates an existing macro",
                "operationId": "updateMacro",
                "parameters": [
                    {
                        "name": "macro",
                        "in": "path",
                        "description": "Macro ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "content",
                                    "scope"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Name"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Updated Content"
                                    },
                                    "scope": {
                                        "type": "string",
                                        "enum": [
                                            "personal",
                                            "global"
                                        ],
                                        "example": "personal"
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "General"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Macro"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Macros"
                ],
                "summary": "Delete macro",
                "description": "Deletes a macro",
                "operationId": "deleteMacro",
                "parameters": [
                    {
                        "name": "macro",
                        "in": "path",
                        "description": "Macro ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/macros/{macro}/favorite": {
            "post": {
                "tags": [
                    "Macros"
                ],
                "summary": "Toggle favorite macro",
                "description": "Adds or removes macro from favorites",
                "operationId": "toggleFavoriteMacro",
                "parameters": [
                    {
                        "name": "macro",
                        "in": "path",
                        "description": "Macro ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/macros/{macro}/preview": {
            "post": {
                "tags": [
                    "Macro Usage"
                ],
                "summary": "Preview a macro with context",
                "description": "Returns rendered content of a macro",
                "operationId": "previewMacro",
                "parameters": [
                    {
                        "name": "macro",
                        "in": "path",
                        "description": "Macro ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "ticket_code",
                                    "ticket_title",
                                    "customer_name"
                                ],
                                "properties": {
                                    "ticket_code": {
                                        "type": "string",
                                        "example": "T-12345"
                                    },
                                    "ticket_title": {
                                        "type": "string",
                                        "example": "Issue with login"
                                    },
                                    "customer_name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "content": {
                                                    "type": "string"
                                                },
                                                "available_placeholders": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/macros/{macro}/usages": {
            "post": {
                "tags": [
                    "Macro Usage"
                ],
                "summary": "Record macro usage",
                "description": "Stores a record of macro usage",
                "operationId": "storeMacroUsage",
                "parameters": [
                    {
                        "name": "macro",
                        "in": "path",
                        "description": "Macro ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "ticket_code",
                                    "content"
                                ],
                                "properties": {
                                    "ticket_code": {
                                        "type": "string",
                                        "example": "T-12345"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Rendered content..."
                                    },
                                    "customized": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "usage_id": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/macro-usages/{macroUsage}/feedback": {
            "post": {
                "tags": [
                    "Macro Usage"
                ],
                "summary": "Provide feedback on macro usage",
                "description": "Updates feedback for a macro usage",
                "operationId": "feedbackMacroUsage",
                "parameters": [
                    {
                        "name": "macroUsage",
                        "in": "path",
                        "description": "Macro Usage ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "feedback"
                                ],
                                "properties": {
                                    "feedback": {
                                        "type": "string",
                                        "enum": [
                                            "positive",
                                            "negative"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "feedback": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "422": {
                        "description": "Invalid feedback"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "InternalNote": {
                "required": [
                    "ticket_code",
                    "content",
                    "agent_id"
                ],
                "properties": {
                    "id": {
                        "description": "id",
                        "type": "integer",
                        "format": "int64"
                    },
                    "ticket_code": {
                        "description": "Ticket Code",
                        "type": "string"
                    },
                    "agent_id": {
                        "description": "Agent ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "agent_name": {
                        "description": "Agent Name",
                        "type": "string"
                    },
                    "content": {
                        "description": "Content",
                        "type": "string"
                    },
                    "is_important": {
                        "description": "Is Important",
                        "type": "boolean"
                    },
                    "created_at": {
                        "description": "Created At",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Updated At",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Macro": {
                "required": [
                    "name",
                    "content",
                    "scope",
                    "created_by"
                ],
                "properties": {
                    "id": {
                        "description": "id",
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    },
                    "content": {
                        "description": "Content",
                        "type": "string"
                    },
                    "scope": {
                        "description": "Scope (global/personal)",
                        "type": "string"
                    },
                    "category": {
                        "description": "Category",
                        "type": "string"
                    },
                    "created_by": {
                        "description": "Created By Agent ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "created_by_name": {
                        "description": "Created By Name",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Created At",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Updated At",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "MacroUsage": {
                "required": [
                    "macro_id",
                    "agent_id",
                    "ticket_code",
                    "rendered_content"
                ],
                "properties": {
                    "id": {
                        "description": "id",
                        "type": "integer",
                        "format": "int64"
                    },
                    "macro_id": {
                        "description": "Macro ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "agent_id": {
                        "description": "Agent ID",
                        "type": "integer",
                        "format": "int64"
                    },
                    "ticket_code": {
                        "description": "Ticket Code",
                        "type": "string"
                    },
                    "rendered_content": {
                        "description": "Rendered Content",
                        "type": "string"
                    },
                    "customized": {
                        "description": "Is Customized",
                        "type": "boolean"
                    },
                    "feedback": {
                        "description": "Feedback (positive/negative)",
                        "type": "string"
                    },
                    "created_at": {
                        "description": "Created At",
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "description": "Updated At",
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Internal Notes",
            "description": "Internal Notes"
        },
        {
            "name": "Macros",
            "description": "Macros"
        },
        {
            "name": "Macro Usage",
            "description": "Macro Usage"
        }
    ]
}